
.brand-logo {
font-family: 'Cabin Sketch', cursive;

};

.nav-wrapper {
    background-color: #558b2f,

};

.btn-floating {
    width: 100px;
    height: 75px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

   

.page-footer {
    background-color: #2f4f4f;
}