
h1 {
font-family: 'Cabin Sketch', cursive;

};

nav {
    background-color: #558b2f,

};

.btn-floating {
    width: 100px;
    height: 75px;
}

.page-footer {
    background-color: #2f4f4f;
}

.show-all img{
    width:10%;
}

.show-all{
    font-size:16pt;
    
}
.brand-logo {
    font-family: 'Cabin Sketch', cursive;
    };
    
    
    .btn-floating {
        width: 100px;
        height: 75px;
    }
    
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
    
    .card-title {
        background-color: lightslategrey;
    } 
    
    .page-footer {
        background-color: #2f4f4f;
    }
