.brand-logo {
  font-family: "Cabin Sketch", cursive;
}

.show-all img {
  width: 10%;
}

.show-all {
  font-size: 16pt;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card .card-image .card-title {
  color: #fff;
  background-color: #2f4f4f;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 1%;
}

.page-footer {
  background-color: #2f4f4f;
}

.card{
  width:15%;
  float:left;
  margin: 1%;
}

#modalheader{
  text-align:center;
}
/* 
.card-smallSelection{
  width:auto;
  height:auto;
  float:left;
}


.card-smallSelection2{
    width:50%;
    float:left;
}

#cardinmodal.card{
 width:15%;
}

#cardinmodal .card-image{
  fill:10%;
  width:50%;
 }

 #cardinmodal .card-title{
  text-align: center;
  width:100%;
  
 }

 #modalform.row.card{
   width:35%;
   float:left;
 }
 
 #modalinput.row{
   width: 100%;
 }

 #modalinputform.content{
   width: 100%;
 } */