.brand-logo {
  font-family: "Cabin Sketch", cursive;
}

.show-all img {
  width: 10%;
}

.show-all {
  font-size: 16pt;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card .card-image .card-title {
  color: #fff;
  background-color: #2f4f4f;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 1%;
}

.page-footer {
  background-color: #2f4f4f;
}

.center-cols {
    float:none; /* disable the float */
    display: inline-block; /* make blocks inline-block */
    text-align: initial; /* restore text-align to default */
}
